In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
from sklearn.datasets import load_iris

In [9]:
iris=load_iris()

In [10]:
dataframe=pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [11]:
dataframe.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [12]:
dataframe.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
dataframe['Species']=pd.Categorical.from_codes(iris.target,iris.target_names)

In [14]:
dataframe.shape

(150, 5)

In [15]:
dataframe.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Species              0
dtype: int64

In [16]:
dataframe['sepal length (cm)'].isnull().sum()

0

In [17]:
int(dataframe['sepal length (cm)'].isnull().sum())

0

In [18]:
dataframe.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [19]:
dataframe['sepal length (cm)'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal length (cm), dtype: float64

In [20]:
print(type(dataframe))

<class 'pandas.core.frame.DataFrame'>

In [21]:
dataframe.dtypes

sepal length (cm)     float64
sepal width (cm)      float64
petal length (cm)     float64
petal width (cm)      float64
Species              category
dtype: object

In [22]:
dataframe['sepal length (cm)'].dtype

dtype('float64')

In [23]:
dataframe['Species']=dataframe['Species'].astype('str')

In [24]:
dataframe['Species'].dtype

dtype('O')

In [25]:
print(type(dataframe))

<class 'pandas.core.frame.DataFrame'>

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler=MinMaxScaler()
df_scaled=dataframe.copy()
df_scaled[dataframe.columns[:-1]]=scaler.fit_transform(df_scaled[dataframe.columns[:-1]])

In [28]:
df_scaled.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,0.222222,0.625000,0.067797,0.041667,setosa
1,0.166667,0.416667,0.067797,0.041667,setosa
2,0.111111,0.500000,0.050847,0.041667,setosa
3,0.083333,0.458333,0.084746,0.041667,setosa
4,0.194444,0.666667,0.067797,0.041667,setosa

In [29]:
dataframe['Species_code']=dataframe['Species'].astype('category').cat.codes

In [30]:
dataframe.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Species_code
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [31]:
dataframe.dtypes.to_dict()

{'sepal length (cm)': dtype('float64'),
 'sepal width (cm)': dtype('float64'),
 'petal length (cm)': dtype('float64'),
 'petal width (cm)': dtype('float64'),
 'Species': dtype('O'),
 'Species_code': dtype('int8')}